<?xml version="1.0"?>
<configuration>
  <system.diagnostics>
    <switches>
      <!--
        Log level:
        If specified, controls the default log level.
        If not specified, default log level is Off.
        Possible values are based on System.Diagnostics.TraceLevel enum:
        - Off
        - Error
        - Warning
        - Info
        - Verbose
        If the environment variable BLPAPI_DOTNET_LOGLEVEL has a value or a callback
        logging function was registered through Bloomberglp.Blpapi.Logging.RegisterCallback,
        this value will be ignored.
      -->
      <add name="BloombergApiTraceSwitch" value="Error"/>
    </switches>
    <!--
    Uncomment section below to enable logging for SSL errors
    -->
    <!--
    <switches>
      <add name="System.Net" value="Verbose" />
      <add name="System.Net.Sockets" value="Verbose" />
    </switches>
    <sources>
      <source name="System.Net" maxdatasize="1024">
        <listeners>
          <add name="TraceFile"/>
        </listeners>
      </source>
      <source name="System.Net.Sockets" maxdatasize="1024">
        <listeners>
          <add name="TraceFile"/>
        </listeners>
      </source>
    </sources>
    <sharedListeners>
      <add name="TraceFile" type="System.Diagnostics.TextWriterTraceListener"
        initializeData="socketTrace.log"/>
    </sharedListeners>
    -->
    <!--
      Logging to a file:
      The following commented out section shows an example on how to add a file as the one of the
      trace log messages output. If no listener is specified, then the log can be viewed using
      SysInternals tool called "DbgView". Alternatively, the environment variable
      BLPAPI_DOTNET_LOGFILE can be set. If you configure logging here and with the
      BLPAPI_DOTNET_LOGFILE variable, both will be used.
    <trace autoflush="true">
      <listeners>
        <add type="System.Diagnostics.TextWriterTraceListener" name ="TextWriter" initializeData="trace.log" />
      </listeners>
    </trace>
      -->
  </system.diagnostics>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/></startup></configuration>
